.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button:not(#button_header) svg {
  pointer-events: none;
  margin-right: 7px;
}
button,
button.button,
a.btn-primary {
  height: 35px;
  background-color: #1473e6;
  display: block;
  z-index: 1;
  position: relative;
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
  width: 120px;
  text-decoration: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
footer {
  background-color: #f3f3f3;
}
footer #logo * {
  fill: #6c6c6c;
}
form {
  flex-basis: 50%;
}

form .button {
  margin: auto;
}

form .col label,
form label {
  width: 100%;
  display: block;
  text-align: left;
}

form .col {
  padding: 0;
}
form .col:last-child {
  margin-left: 2.5%;
  margin-right: 0;
}

form h1 {
  margin-bottom: 2rem;
  font-size: 2.75rem;
}

form input,
form input.form-control {
  height: 49px;
}
footer {
  border-top: 1px solid #ddd;
}
header,
footer {
  height: 65px;
  background-color: white;
  font-size: 0.75rem;
  color: #6c6c6c;
  list-style-type: none;
  font-weight: normal;
}
header {
  border-bottom: 1px solid #ddd;
}
header ul {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
header li {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
}

header li {
  height: 100%;
}

header svg {
  height: 40px;
}

header ul {
  margin: 0;
}
.row {
  padding-bottom: 1rem;
}
.row label {
  padding-left: 0;
}

.section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
.section#contact_us {
  justify-content: center;
}

.section img.principal_image {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}
.section .section_text {
  position: relative;
  z-index: 1;
  width: 30%;
  font-size: 1.25rem;
}
.section .section_text h1 {
  text-transform: capitalize;
  font-size: 4rem;
}
.section @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
