html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button:not(#button_header) svg {
  pointer-events: none;
  margin-right: 7px;
}
button,
button.button,
a.btn-primary {
  height: 35px;
  background-color: #1473e6;
  display: block;
  z-index: 1;
  position: relative;
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
button svg {
  pointer-events: none;
}
#digital_transformation {
  border-top: 1px solid rgba(22, 103, 149, 0.15);
  border-bottom: 1px solid rgba(22, 103, 149, 0.15);
}
footer {
  background-color: #f3f3f3;
}
footer #logo * {
  fill: #6c6c6c;
}
form {
  flex-basis: 50%;
}

form .button {
  margin: auto;
}

form .col label,
form label {
  width: 100%;
  display: block;
  text-align: left;
}

form .col {
  padding: 0;
}
form .col:last-child {
  margin-left: 2.5%;
  margin-right: 0;
}

form h1 {
  margin-bottom: 2rem;
  font-size: 2.75rem;
  text-align: center;
}

form input,
form input.form-control {
  height: 49px;
}
footer {
  border-top: 1px solid #ddd;
}
header,
footer {
  height: 65px;
  background-color: white;
  font-size: 1rem;
  color: #6c6c6c;
  list-style-type: none;
  font-weight: normal;
}
header {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
header ul#main-nav {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  width: 75%;
}
header li {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
}

header li {
  height: 100%;
}

header svg {
  height: 40px;
}

header ul {
  margin: 0;
}
.demo {
  background: white;
  height: 0vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: height 0.75s ease;
}
.demo.active {
  height: 100vh;
}
#mobile-nav-button {
  position: absolute;
  left: 20px;
  font-size: 1.15rem;
  bottom: 17px;
  display: none;
}
.row {
  padding-bottom: 1rem;
}
.row label {
  padding-left: 0;
}

.section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
.section#contact_us {
  justify-content: center;
}

.section img.principal_image {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}
.section .section_text {
  position: relative;
  z-index: 1;
  width: 31%;
  font-size: 1.25rem;
}

.section .section_text h1 {
  text-transform: inherit;
  font-size: 4rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
#contact-form {
  position: relative;
}
#error-message {
  text-align: right;
}
label {
  position: relative;
  top: -3px;
}
.section {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.section {
  border-top: 1px solid rgba(22, 103, 149, 0.15);
  /* border-bottom: 1px solid rgb(185, 181, 181); */
}
.section_text {
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.section_text.left {
  text-align: left;
  color: #6c6c6c;
  left: 10%;
  padding: 40px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.25);
}
.section_text.right {
  /* text-align: right; */
  color: white;
  left: 59%;
  padding: 40px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.25);
}
footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24%;
}
@media screen and (max-width: 600px) {
  .section .section_text h1 {
    font-size: 11vw;
  }
  footer {
    justify-content: center;
    padding: 0 3%;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  header ul#main-nav {
    position: absolute;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    justify-content: flex-start;
    background-color: white;
    width: 350px;
    flex-direction: column;
    top: 66px;
    left: -350px;
    z-index: 2;
    transition: left 0.3s ease;
  }
  header ul#main-nav.active {
    left: 0;
  }
  header ul#main-nav li {
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex: 0 0 47px;
  }
  #mobile-nav-button {
    position: absolute;
    left: 20px;
    font-size: 1.15rem;
    bottom: 17px;
    display: inline;
  }
}

@media only screen and (max-width: 1100px) {
  footer {
    padding: 0 3%;
    font-size: 0.75rem;
  }
  form .col {
    flex-basis: 100%;
  }
  form .col {
    padding-bottom: 1rem;
  }
  form .col:last-child {
    margin-left: 0;
  }
  .section {
    background-size: cover;
  }
  .section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: block;
  }
  .section form {
    flex-basis: 83%;
  }
  .section:last-child::before {
    content: "";
    display: none;
  }

  .section .section_text {
    position: relative;
    z-index: 1;
    width: 90%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    right: 0;
    left: 0;
    background-color: transparent;
  }
  .section_text.left,
  .section_text.right {
    color: white;
    text-align: center;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
