html,
body {
  min-height: 100vh;
  min-width: 100vw;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
.bordered-image {
  background: white;
  padding: 13px;
  overflow: hidden;

  height: 100%;
}
.bordered-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button svg {
  pointer-events: none;
}
#contact-form {
  position: relative;
}
#error-message {
  text-align: right;
}
label {
  position: relative;
  top: -3px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button:not(#button_header, #button_hero) svg {
  pointer-events: none;
  margin-right: 7px;
}
button,
button.button,
a.btn-primary {
  height: 32px;
  display: block;
  z-index: 1;
  color: #fff;
  position: relative;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: #0d6efd;
}
button.btn-default {
  background-color: white;
  border: 2px solid lightgray;
  color: gray;
}

.btn-primary button svg {
  pointer-events: none;
}
.demo-interface {
  display: flex;
  align-items: center;
  justify-content: center;
}
.demo-interface .col .wrapper {
  border: 1px solid rgb(0 0 0 / 45%);
  height: 100%;
  background: linear-gradient(90deg, white -81%, red 58%);
  color: white;
}
.demo-interface footer {
  background-color: #f3f3f3;
}
#elearning-demo-content .col > div {
  height: 100%;
  position: relative;
  background-color: rgb(0 0 0 / 20%);
}
#elearning-demo-content #usecases {
  transition: transform 1s;
}
#elearning-demo-content #usecases .usecase-path {
  fill: none;
}
#elearning-demo-content #rotating-graphic {
  opacity: 0;
  transition: opacity 1s;
}
#elearning-demo-content #rotating-graphic.active {
  opacity: 1;
}

/* Elearning: animation 1 - Display Welcome */
#elearning-demo-content .overlay svg #text1 {
  opacity: 0;
  transition: opacity 1s ease;
}
#elearning-demo-content .overlay svg #text1.active {
  opacity: 1;
}

/* Elearning: animation 2 - Display logo */
#elearning-demo-content .overlay #logo-white path {
  opacity: 0;
  transition: opacity 1s 1s ease;
}
#elearning-demo-content .overlay #logo-white.active path {
  opacity: 1;
}

/****
Elearning: animation 3 - Fade logo and subtext
no css currently required for this transition
****/

/* Elearning: animation 4 - Animate "Elearning" */
#elearning-demo-content .overlay svg #subtext1 {
  opacity: 0;
  transition: opacity 1s 3s ease, font-size 1s 27s, transform 1s 27s;
}
#elearning-demo-content .overlay svg #subtext2 {
  opacity: 0;
  transition: opacity 1s 3s ease;
}

/* Elearning: animation 5 - Animate "Elearning" */
/* Elearning: animation 6 - Animate "Elearning" */
#elearning-demo-content .overlay {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  grid-template-rows: 1fr 50%;
  height: 100%;
  padding: 60px;
  background-color: rgb(5 24 61 / 70%);
  transition: background-color 1s 24s, grid-template-rows 1s 24s;
}
#elearning-demo-content #logo-white {
  height: 60px;
  transition: height 1s 24s;
}
#elearning-demo-content .overlay.expanded {
  grid-template-rows: 1fr 100%;
  background-color: rgb(5 24 61 / 100%);
}
#elearning-demo-content .overlay.expanded #logo-white {
  height: 0;
}
#elearning-demo-content .overlay #subtext1.animate1 {
  font-size: 2rem;
  transform: translate(-420px, 156px);
}
/**** end: animation 6 */

/* Elearning: animation 7 - animate usecases */
#elearning-demo-content .usecase,
#elearning-demo-content #usecase-1.active textPath {
  fill: white;
  font-size: 18px;
  opacity: 0;
  transition: transform 1.5s 1s, opacity 0.7s 1s;
}
#elearning-demo-content #usecase-1.active,
#elearning-demo-content #usecase-1.active textPath {
  opacity: 1;
}
#elearning-demo-content #usecase-2.active,
#elearning-demo-content #usecase-2.active textPath {
  opacity: 1;
}
#elearning-demo-content #usecase-3.active,
#elearning-demo-content #usecase-3.active textPath {
  opacity: 1;
}

#elearning-demo-content .dendogram-path {
  stroke: #495d83;
  fill: none;
  stroke-width: 1px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  transition: stroke-dashoffset 1s 2s;
}
#elearning-demo-content .dendogram-path.active {
  stroke-dashoffset: 0;
}

#elearning-demo-content .overlay svg #subtext1.active,
#elearning-demo-content .overlay svg #subtext2.active {
  opacity: 1;
}

#elearning-demo-content .overlay > div,
#elearning-demo-content .overlay > svg,
#elearning-demo-content .overlay > div > svg {
  width: 100%;
  height: 100%;
}
.demo-interface #elearning-demo-content {
  position: relative;
  padding: 20px 11px;
  height: 92.5%;
  margin: 0;
}

.demo-interface #elearning-demo-content li:nth-child(2) {
  border-top: 1px solid rgb(0 0 0 / 30%);
  border-bottom: 1px solid rgb(0 0 0 / 30%);
}
.demo-interface #elearning-demo-content .section-text > div {
  padding: 0;
}
.demo-interface .section-text h2 {
  padding: 18px;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.35em;
}
.demo-interface #elearning-demo-content ul {
  margin: 0;
  padding: 0;
}
.demo-interface #elearning-demo-content li {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  padding: 0 20px;
  background: rgb(57 1 1 / 20%);
  min-height: 73px;
  cursor: pointer;
}
.demo-interface #elearning-demo-content li * {
  pointer-events: none;
}
.demo-interface #elearning-demo-content li svg {
  font-size: 1.5rem;
  color: rgb(255 255 255 / 60%);
  color: rgb(0 0 0 / 45%);
}
.demo-interface #elearning-demo-content li div {
  padding-left: 20px;
}
.demo-interface #elearning-demo-content .demo-option {
  /* font-weight: bold; */
  text-transform: capitalize;
  font-size: 1em;
  padding-left: 11px;
}
#digital_transformation {
  border-top: 1px solid rgba(22, 103, 149, 0.15);
  border-bottom: 1px solid rgba(22, 103, 149, 0.15);
}
footer #logo * {
  fill: #6c6c6c;
}
form {
  flex-basis: 50%;
}

form .button {
  margin: auto;
}

form .col label,
form label {
  width: 100%;
  display: block;
  text-align: left;
}

form .col {
  padding: 0;
}
form .col:last-child {
  margin-left: 2.5%;
  margin-right: 0;
}

form h1 {
  margin-bottom: 2rem;
  font-size: 2.75rem;
  text-align: center;
}

form input,
form input.form-control {
  height: 49px;
}
footer {
  border-top: 1px solid #ddd;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24%;
}
footer,
header {
  height: 65px;
  background-color: white;
  font-size: 1rem;
  color: #6c6c6c;
  list-style-type: none;
  font-weight: normal;
}
header {
  /* border-bottom: 1px solid #ddd; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  font-size: 14px;
  z-index: 9;
}
header ul#main-nav {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  width: 75%;
}
header li {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  text-transform: capitalize;
}

header li {
  height: 100%;
}

header svg {
  height: 40px;
}

header ul {
  margin: 0;
}

#mobile-nav-button {
  position: absolute;
  left: 20px;
  font-size: 1.15rem;
  bottom: 17px;
  display: none;
}
.row {
  padding-bottom: 1rem;
}
.row label {
  padding-left: 0;
}

.section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(22, 103, 149, 0.15);
}
.section#contact_us {
  justify-content: center;
}

.section img.principal_image {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}
.section .section-text {
  position: relative;
  z-index: 1;
  width: 31%;
  font-size: 1.25rem;
}

.section .section-text h1 {
  text-transform: inherit;
  font-size: 4rem;
}

.section-text.left {
  text-align: left;
  color: #6c6c6c;
  left: 10%;
  padding: 40px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.25);
}
.section-text.right {
  /* text-align: right; */
  color: white;
  left: 59%;
  padding: 40px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.25);
}
.slide-down-panel {
  background: white;
  height: 0vh;
  width: 100%;
  overflow: hidden;
  transition: padding 0.7s linear, height 1s cubic-bezier(0.75, 0, 0.58, 0);
  padding-top: 0px;
}
.slide-down-panel.active {
  padding-top: 65px;
  position: relative;
  height: 100vh;
}
.slide-down-panel .wrapper > .row:first-child {
  border-bottom: 1px solid rgb(0 0 0 / 15%);
  background: rgb(57 1 1 / 20%);
  margin: 0;
}
.slide-down-panel .row {
  min-height: 60px;
}
.slide-down-panel .demo-interface.row {
  height: 100%;
}
.slide-down-panel .row .col {
  height: 100%;
}
.slide-down-panel button {
  position: relative;
}
.slide-down-panel .btn-secondary {
  border: 2px solid;
  border-color: white;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s;
}
.slide-down-panel .btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0.55);
  border-color: white;
}
.toggle-row {
  display: flex;
  justify-content: right;
  padding-top: 1rem;
  padding-right: 66px !important;
  /* padding-bottom: 9px; */
}
#wpk-logo {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .section .section-text h1 {
    font-size: 11vw;
  }
  footer {
    justify-content: center;
    padding: 0 3%;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  header ul#main-nav {
    position: absolute;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    justify-content: flex-start;
    background-color: white;
    width: 350px;
    flex-direction: column;
    top: 66px;
    left: -350px;
    z-index: 2;
    transition: left 0.3s ease;
  }
  header ul#main-nav.active {
    left: 0;
  }
  header ul#main-nav li {
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex: 0 0 47px;
  }
  #mobile-nav-button {
    position: absolute;
    left: 20px;
    font-size: 1.15rem;
    bottom: 17px;
    display: inline;
  }
}

@media only screen and (max-width: 1100px) {
  footer {
    padding: 0 3%;
    font-size: 0.75rem;
  }

  form .col {
    flex-basis: 100%;
  }
  form .col {
    padding-bottom: 1rem;
  }
  form .col:last-child {
    margin-left: 0;
  }
  .section {
    background-size: cover;
  }
  .section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: block;
  }
  .section {
    background-position: center center;
  }
  div:not(#contact_us).section::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .section form {
    flex-basis: 83%;
  }
  .section:last-child::before {
    content: "";
    display: none;
  }

  .section .section-text {
    position: relative;
    z-index: 1;
    width: 90%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    right: 0;
    left: 0;
    background-color: transparent;
  }
  .section-text.left,
  .section-text.right {
    color: white;
    text-align: center;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
